# Question 1: Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from the ones that are in the NB

In [3]:
sqrList = map(lambda x: x*x, [1, 2, 3, 4])
next(sqrList)
next(sqrList)

4

In [6]:
# map() with string

def to_upper_case(s):
    return str(s).upper()

def print_iterator(it):
    for x in it:
        print(x, end=' ')
    print('')  # for new line

map_iterator = map(to_upper_case, 'abc')
print(type(map_iterator))
print_iterator(map_iterator)

<class 'map'>
A B C

In [7]:
# map() with tuple
map_iterator = map(to_upper_case, (1, 'a', 'abc'))
print_iterator(map_iterator)

1 A ABC

In [8]:
map_iterator = map(to_upper_case, ['x', 'a', 'abc'])
print_iterator(map_iterator)

X A ABC

In [9]:
map_iterator = map(to_upper_case, ['a', 'b', 'c'])
my_list = list(map_iterator)
print(my_list)

map_iterator = map(to_upper_case, ['a', 'b', 'c'])
my_set = set(map_iterator)
print(my_set)

map_iterator = map(to_upper_case, ['a', 'b', 'c'])
my_tuple = tuple(map_iterator)
print(my_tuple)

['A', 'B', 'C']
{'B', 'C', 'A'}
('A', 'B', 'C')

In [10]:
list_numbers = [1, 2, 3, 4]

map_iterator = map(lambda x: x * 2, list_numbers)
print_iterator(map_iterator)

2 4 6 8

In [11]:
# map() with multiple iterable arguments
list_numbers = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)
map_iterator = map(lambda x, y: x * y, list_numbers, tuple_numbers)
print_iterator(map_iterator)

5 12 21 32

In [12]:
# List of strings 
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [13]:
# Double all numbers using map and lambda 
  
numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers) 
print(list(result))

[2, 4, 6, 8]

In [14]:

# without lambda
def sqr(a):
    return a*a

sqr(3)

9

In [15]:

# with lambda
x = lambda a: a*a
x(3)

9

In [16]:
# lambda within user defined functions
def abc(x):
    return lambda y: x+y
t = abc(4)
print(t)
print(t(5))

<function abc.<locals>.<lambda> at 0x7f57f6eca8c8>
9

In [17]:
def mno():
    print("Hi from Suresh")
mno()

Hi from Suresh

In [18]:
# Solving Algebraic expressions using lambda
# LINEAR EQUATIONS
# Snippet 1:
x = lambda a: a*a
x(3)

9

In [21]:
# Solving Algebraic expressions using lambda
# LINEAR EQUATIONS
# Snippet 2: 5x+3y
z = lambda x,y: 8*x+4*y
z(1,2)

16

In [22]:
# Solving Algebraic expressions using lambda
# QUADRATIC EQUATIONS
# Snippet 1: (a+b)^2
z = lambda x,y: (x+y)**2
print(z(2,3))

25

In [23]:
# Use lambda functions along with map function
l = [1,2,3,4]
x = map(lambda x: x+3,l)
print(list(x))

[4, 5, 6, 7]

In [24]:
# Lets further shorten the above code
l = [1,2,3,4]
x = list(map(lambda x: x+2,l))
print(x)

[3, 4, 5, 6]

In [25]:

# filter(function, iterables)
def sqr(a):
    if a>=3:
        return a
# your code goes here1.2
x = filter( sqr, [1,2,3,4,5] )
print(x)
print(type(x))
print(list(x))

<filter object at 0x7f57f6ee2358>
<class 'filter'>
[3, 4, 5]

In [26]:
l = [1,2,3,4]
# your code goes here1.3
x = filter( lambda x: x>=3 ,l )
print(list(x))

[3, 4]

In [27]:
l = [1,2,3,4]
print(list(filter( lambda x: x>=3 ,l )))

[3, 4]

In [28]:

# map within filter
x = filter(lambda x: x>4,  map(lambda x: x+3., [1,2,3,4]))
# try this
# x = filter(lambda x: x>=3,  map(lambda x: x+3., [1,2,3,4]))
print(x)
print(list(x))
# print(tuple(x))

<filter object at 0x7f57f6ed5eb8>
[5.0, 6.0, 7.0]

# Question 2 : Recreate your own Python NB for “Classes and Objects” from the pdf provided namely “Classes&Objects.pdf”

In [31]:

class abc:
    def show(self):
        print("Hello Suresha HP.")

s = abc()
s.show()
t = abc()
t.show()

Hello Suresha HP.
Hello Suresha HP.

In [33]:

# Program to use private variables
class abc:
    y=5
    __v=4 # private var
    def show(self):
        print("Hello from Suresha")
        

s = abc()
print(s.y)
s.show()
# print(s.__v) # gives error

5
Hello from Suresha

In [34]:
class xyz:
    def __init__(self):
        print("I am Programmer.")
        print("I am healthy")
        print("Lets go ahead.")
    def show(self):
        print("You are in class.")
        print("Bye from here.")
s = xyz()

s.show()

I am Programmer.
I am healthy
Lets go ahead.
You are in class.
Bye from here.

In [36]:
class xyz:
    def __init__(self,n):
        self.n1=n+1
        print(n)
        print(self.n1)
        print(self.n1*n)
s = xyz(6)

6
7
42

In [37]:
class xyz:
    def __init__(self,n):
        self.n=n+1
        print(n)
        print(self.n)
        
s=xyz(6)

6
7

In [38]:
# Program to use instances as return values
class st:
    def add(self,a,b):
        a1=a
        b1=b
        print(a1,b1)
        print(a,b)
        a=120
        b=75
        print(a1,b1)
        print(a,b)

s=st()
s.add(4,3)

4 3
4 3
4 3
120 75

In [39]:
# Program to use instances as return values
class st:
    def add(self,a,b):
        self.a=a
        self.b=b
        print(self.a,self.b)
        print(a,b)
        a=99
        b=88
        print(self.a,self.b)
        print(a,b)
        self.a=555
        self.b=666
        print(self.a,self.b)
        print(a,b)

s=st()
s.add(4,3)

4 3
4 3
4 3
99 88
555 666
99 88

In [40]:
# Program to use instances as return values
class st:
    def add(self,a,b):
        self.a=a
        self.b=b
        print(self.a,self.b)
        print(a,b)
        a=99
        b=88
        print(self.a,self.b)
        print(a,b)
        self.a=555
        self.b=666
        print(self.a,self.b)
        print(a,b)

s=st()
s.add(4,3)

4 3
4 3
4 3
99 88
555 666
99 88

In [41]:
# Program to delete object of a class.
class abc:
    def __init__(self,n): #Parameterized constructor
        print("Hello ",n)
    def __del__(self):
        print("Object deleted")

s1=abc("Darshan")
s2=abc("Python")

Hello  Darshan
Hello  Python

In [43]:
# Program to use Data Encapsulation
class st:
    def __init__(self):
        self.__show1()
    def show(self):
        print("Darshan Ingle")
    def __show1(self):
        print("Hello ")
        
v=st()
v.show()
v.__show1() # not accessible from object v bcz of private method

Hello
Darshan Ingle

AttributeError: ignored

In [44]:

# Program to use Data Hiding
class abc:
    __p=0
    def show(self):
        self.__p=self.__p+1
        print(self.__p)

v=abc()
v.show()
v.show()
v.show()
print(v.__p) # __p is hidden for outside class so error occurs

1
2
3

AttributeError: ignored

In [45]:
# Program to use Polymorphism
def show(s):
    print("s= ",s)

show(11)
show("Darshan")
show(2.546)
show(complex(2,4))

s=  11
s=  Darshan
s=  2.546
s=  (2+4j)

1. Create GITHUB Profile with User id and password
2. In the upper-right corner of any page, click , and then click New repository.
3.In the Owner drop-down, select the account you wish to create the repository on.
4.Type a name for your repository, and an optional description.
5.Choose to make the repository either public or private. Public repositories are visible to the public, while private repositories are only accessible to you, and people you share them with. For more information, see "Setting repository visibility."
6. When you're finished, click Create repository

# Mu github repository - https://github.com/hpsuresh12345/LetsUpgrade-AI-ML