# Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.

In [8]:
email = input('Enter value of email: ')

def extract_company(email):
    index_of_at = email.find('@')

    return email[index_of_at+1:email.rfind('.')]

print('The output company name: {}'.format(extract_company(email)))

Enter value of email: hpsuresh12345@gmail.com
The output company name: gmail

# Question 2 : Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.Input Format:The first line of input contains words separated by the comma.Output Format:Print the sorted words separated by the comma.

In [11]:
items = input("Input comma separated sequence of words: ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of words: Ramesh,Gopinath,Aravind,Deepika,Mohan,Suresh
Aravind,Deepika,Gopinath,Mohan,Ramesh,Suresh

# Question 3: Create your own Jupyter Notebook for Sets. Reference link:https://www.w3schools.com/python/python_sets.asp

In [13]:
# Add 
thisset = {"grapes", "banana", "pineapple"}

thisset.add("apple")

print(thisset)

{'pineapple', 'apple', 'banana', 'grapes'}

In [15]:
#update
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'cherry', 'orange', 'grapes', 'mango', 'apple'}

In [17]:
#length
thisset = {"apple", "banana", "cherry","tomato","onion"}

print(len(thisset))

5

In [18]:
# remove

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [19]:
# discard

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [20]:
# pop

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [21]:
# clear
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [22]:
#del

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

In [23]:
# join 2 sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [24]:
# update 2 sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [25]:
# set()

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

# Question 4:Question 4:Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [32]:
# getMissingNo takes list as argument
def find_missing(lst): 
    start = lst[0] 
    end = lst[-1] 
    return sorted(set(range(start, end + 1)).difference(lst)) 
 
# Driver code 
lst = [1, 2, 4, 6, 7, 9, 10] 
print(find_missing(lst))

[3, 5, 8]

# Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [35]:
# initializing list 
test_list = [1, 3, 5, 6, 3, 5, 6, 1] 
print ("The original list is : " +  str(test_list)) 
# using list comprehension 
# to remove duplicated  
# from list  
res = [] 
[res.append(x) for x in test_list if x not in res]
# printing list after removal  
print ("The list after removing duplicates : " + str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

1. Create GITHUB Profile with User id and password
2. In the upper-right corner of any page, click , and then click New repository.
3.In the Owner drop-down, select the account you wish to create the repository on.
4.Type a name for your repository, and an optional description.
5.Choose to make the repository either public or private. Public repositories are visible to the public, while private repositories are only accessible to you, and people you share them with. For more information, see "Setting repository visibility."
6. When you're finished, click Create repository

# Mu github repository - https://github.com/hpsuresh12345/LetsUpgrade-AI-ML